<md-content ng-controller="LoginController as ctrl" layout="column" layout-padding layout-align="start center">
        
        <form layout="column" ng-submit="ctrl.createUser()" name="createForm" novalidate>

            <md-input-container>
                <label>Email:</label>
                <input ng-model="ctrl.user.email" type="email" name="email" required>
                <ng-messages for="createForm.email.$error" multiple>
                    <ng-message when="required"> Este campo es requerido. </ng-message>
                    <ng-message when="email"> No ingresaste un email. </ng-message>
                </ng-messages>
            </md-input-container>

            <md-input-container>
                <label>Password:</label>
                <input ng-model="ctrl.user.password" type="password" name="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" required>
                <ng-messages for="createForm.password.$error" multiple>
                    <ng-message when="required"> Este campo es requerrido. </ng-message>
                    <ng-message when="pattern"> Este campo debe contesner al menos un numero, una letra mayuscula, una minusculo y al menos 8 caracteres. </ng-message>
                </ng-messages>
            </md-input-container>

            <md-button type="submit" class="md-raised md-primary" ng-click="ctrl.login()">Log in</md-button> 
            
            <div layout="column" layout-align="center end">
                <md-button ng-click="ctrl.goTo('creation')" class="md-primary md-hue-1" ui-sref="creationBody">Crear nueva cuenta</md-button>
                <md-button class="md-primary md-hue-1">Olvidaste la contraseña?</md-button>
            </div>
            
        </form>
		
</md-content>